*{box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
a {
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px ;    
    margin-bottom: 100px;
    display: inline-block;
    margin-top: 20px;
}
.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .carte{
    background-color: blueviolet;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 30px 30px 30px;
}
  .imgcarte {
    width: 100%;
    border-radius: 20px;
  }